@import '/vendor/filament/filament/resources/css/theme.css';
.fi-ta-ctn .py-4 {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
}
.fi-main .section .gap-y-8 {
    row-gap: 0.5rem; !important;

}
.fi-ac  .sm\:mt-7 {
    margin-top:  0.5rem; !important;

}

@config 'tailwind.config.js';
